@font-face{font-family:"FilsonSoft";src:url('fontes/FilsonSoftRegular.otf');font-weight:normal;}
@font-face{font-family:"FilsonSoft";src:url('fontes/FilsonSoft-Bold.otf');font-weight:bold;}
@font-face{font-family:"FilsonSoft";src:url('fontes/FilsonSoft-Light.otf');font-weight:lighter;}
@font-face{font-family:"FilsonSoftHeavy";src:url('fontes/FilsonSoftHeavy.otf');}